.gridCell {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  display: grid;
  place-items: center;
  background-color: var(--cell-bg);
  border: 2px solid transparent;
  font-size: 24px;
  font-weight: 600;
  cursor: url(../../../../assets/images/pointer.png), auto;
}

.gridCellFill {
  color: var(--blue-prim);
}

.gridCell:hover,
.gridCell:focus-visible {
  outline: none;
  border-color: var(--blue-second);
}

.gridCellNotDup {
  background-color: var(--cell-not-dup);
}

.gridCellSameNum {
  background-color: var(--cell-same);
}

.gridCellError {
  background-color: var(--cell-error);
  color: var(--red-prim);
}

.gridCellSelected {
  background-color: var(--cell-focus);
  border-color: var(--blue-second);
}

.cellNoteList {
  width: 100%;
  height: 100%;
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  color: var(--note-prim);
}

.cellNote {
  width: 33.333%;
  height: 33.333%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.darkMode) {
  .gridCell {
    background-color: var(--dark-cell-bg);
    color: var(--dark-color);
  }

  .gridCell:hover,
  .gridCell:focus-visible {
    border-color: var(--dark-blue-second);
  }

  .gridCellNotDup {
    background-color: var(--dark-cell-not-dup);
  }

  .gridCellSameNum {
    background-color: var(--dark-cell-same);
  }

  .gridCellSelected {
    background-color: var(--dark-cell-focus);
    border-color: var(--dark-blue-second);
  }

  .gridCellFill {
    color: var(--dark-blue-prim);
  }

  .cellNoteList {
    color: var(--dark-note-prim);
  }
}
